h1{
	text-align:center;
	font-family:garamond;
	top: 200%;
}

.navbar{
	font-family: courier new;
	font-size: 20px;
}

.navbar ul {
    list-style-type: none;  
    padding: 0; 
    margin: 0; 
	justify-content: center;
	display: flex; 
}

.navbar ul li{
	flex: 1; 
}

.navbar ul li a {
    display: block; 
    padding: 15px; 
    color: black; 
    text-align: center;
    text-decoration: none; 
}

.navbar ul li a:hover {
    font-size: 27px;
    background-color: #b7d7e8; 
}
